body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  color: $oc-gray-8;
  line-height: 1.6;
}

a {
  color: $oc-blue-5;
  text-decoration: none;
}
