.button {
  display: inline-block;
  padding: .7em 1em;
  color: $oc-gray-7;
  border: solid 1px $oc-gray-5;
  border-radius: 3px;

  &:hover, &:focus {
    background: $oc-gray-2;
  }

  &-full {
    width: 100% !important;
  }
}

.active {
  background: $oc-gray-1
}
