.comment {

  &-box {
    margin-bottom: 1.5em;
    padding: 1em;
    border: 1px solid $oc-gray-4;

    .comment-title {
      color: $oc-gray-9;
      margin-top: 0;
    }

    .comment-body {
      color: $oc-gray-8;
      margin-left: -1em;
      margin-bottom: 0;
      padding-top: .5em;
    }
  }
}
