@import "react-tagsinput/react-tagsinput.css";

.react-tagsinput {
  border: none;
  border-bottom: 1px solid $oc-gray-5;
  margin-bottom: 5px;

  &--focused {
    border-color: $oc-gray-7;
  }

  &-tag {
    background-color: $oc-gray-4;
    border-radius: 0;
    border: none;
    color: $oc-gray-9;
  }
}

.tag {
  margin: 0 .5em .5em 0;
  padding: .5em .75em;
  background: $oc-gray-4;
  display: inline-block;
  color: $oc-gray-9;

  &:hover {
    opacity: .8;
  }

  &-with-count {
    &:after {
      content: attr(data-count);
      background: $oc-gray-8;
      color: white;
      padding: .65em .75em .75em;
      margin: 0 -.75em 0 .75em;
    }
  }
}
