@keyframes bg-color {
  0% { background-color: $oc-orange-5; }
  10% { background-color: $oc-red-5; }
  20% { background-color: $oc-pink-5; }
  30% { background-color: $oc-grape-5; }
  40% { background-color: $oc-violet-5; }
  50% { background-color: $oc-indigo-5; }
  60% { background-color: $oc-blue-5; }
  70% { background-color: $oc-teal-5; }
  80% { background-color: $oc-green-5; }
  90% { background-color: $oc-yellow-5; }
  100% { background-color: $oc-orange-5; }
}

.top {

  &-hero {
    padding: 2em 0;

    &-container {
      background-color: $oc-orange-5;
      animation: bg-color 10s infinite;
    }

    @media (min-width: $width-screen-small-minimum) {
      padding: 5em 0;
    }

    &-description {
      font-size: 1.2em;
      color: white;

      @media (min-width: $width-screen-small-minimum) {
        padding: 0 1rem;
        font-size: 1.4em;
      }
    }

    .to-posts-link {
      color: white;
      text-decoration: underline;

      @media (min-width: $width-screen-small-minimum) {
        margin-left: 1rem;
      }
    }
  }

  h1 {
    margin: 0;
    font-size: 2.75em;
    line-height: 1.2;
    color: white;

    @media (min-width: $width-screen-small-minimum) {
      padding: 1rem;
      font-size: 4.25em;
    }
  }

  &-content-for-pc {
    @media (max-width: $width-screen-extra-small-maximum) {
      display: none;
    }
  }

  &-content-for-mobile {
    padding-top: 1em;
    text-align: center;

    .button {
      background: white;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    @media (min-width: $width-screen-extra-small-maximum) {
      display: none;
    }
  }

  .features {
    text-align: center;
    padding-bottom: 1rem;

    h2 {
      font-size: 2rem;
      margin: 2rem 0;
    }

    .img-box {
      height: 110px;

      img {
        width: 100%;
        max-width: 100px;
      }
    }
  }

  .call-to-action {
    text-align: center;

    &-container {
      background: $oc-gray-1;
    }

    h2 {
      font-size: 2rem;
      margin: 2rem 0;
    }

    .button-action {
      background: white;
      padding: 1.5rem 2rem;
      margin-bottom: 2.5rem;

      a {
        font-size: 1.5rem;
        color: $oc-gray-8;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
