.top {

  &-hero {
    padding: 2em 0;

    &-container {
      background: $oc-gray-1;
    }

    @media (min-width: $width-screen-small-minimum) {
      padding: 5em 0;
    }

    &-description {
      font-size: 1.2em;

      @media (min-width: $width-screen-small-minimum) {
        padding: 0 1rem;
        font-size: 1.4em;
      }
    }

    a {
      @media (min-width: $width-screen-small-minimum) {
        margin-left: 1rem;
      }
    }
  }

  h1 {
    margin: 0;
    font-size: 2.5em;
    line-height: 1.2;

    @media (min-width: $width-screen-small-minimum) {
      padding: 1rem;
      font-size: 4em;
    }
  }

  &-content-for-pc {
    @media (max-width: $width-screen-extra-small-maximum) {
      display: none;
    }
  }

  &-content-for-mobile {
    padding-top: 1em;
    text-align: center;

    .button {
      background: white;

      a {
        color: inherit;
      }
    }

    @media (min-width: $width-screen-extra-small-maximum) {
      display: none;
    }
  }

  .features {
    text-align: center;

    h2 {
      font-size: 2rem;
      margin: 2rem 0;
    }

    .img-box {
      height: 110px;

      img {
        width: 100%;
        max-width: 100px;
      }
    }
  }

  .call-to-action {
    text-align: center;

    &-container {
      background: $oc-gray-1;
    }

    h2 {
      font-size: 2rem;
      margin: 2rem 0;
    }

    .button-action {
      background: white;
      padding: 1.5rem 2rem;
      margin-bottom: 2.5rem;

      a {
        font-size: 1.5rem;
        color: $oc-gray-8;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
