# For AWS
export AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXX
export AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# For User Registration
export GMAIL_USERNAME=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export GMAIL_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
